/* Header Content Styles Start Here */
body {
  background-color: #96ceb4;
  font-family: Arial, sans-serif;
  margin: 5px;
  margin-top: 0px;
}

.header {
  z-index: 1000;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #96ceb4;
  width: 100%;
  position: sticky;
}

.logo {
  width: auto;
  height: 55px;
  margin: 10px;
  border-radius: 10px;
  margin-left: 30px;
}

.arya {
  display: flex;
  width: 550px;
  border-radius: 10px;
  height: 50px;
  margin: 10px;
  background-color: aliceblue;
  align-items: center;
  justify-content: center;
  text-align: center;
  align-content: center;
  font-weight: 800;
  letter-spacing: 0.025em;
  font-size: 2.25rem; 
  line-height: 2.5rem;
}

.change {
display:flex;
flex-direction: row;
}

#playpauseButton  {
  height: 50px;
  width: 50px;
  background-color:aliceblue;
  margin-left: 40px;
  border-radius: 10px;
}

#restartButton {
  height: 50px;
  width: 50px;
  background-color:aliceblue;
  border-radius: 10px;
}

.teamid {
  display: flex;
  width: 300px;
  border-radius: 10px;
  height: 50px;
  margin: 10px;
  background-color: aliceblue;
  justify-items: center;
  text-align: center;
  align-content: center;
  font-weight: 800;
  letter-spacing: 0.025em;
  font-size: 1.25rem; 
}

.teamid h2 {
  align-self: center;
}

.flag {
  width: auto;
  height: 30px;
  margin: 10px;
}

/* Header Content Styles End here */

/* Middle Content Styles Start here */
.middle {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  background-color: #96CEB4;
  width: 100%;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  background-color: aliceblue;
  border-radius: 10px;
  position: fixed;
  left: 0px;
  margin-top: 10px;
  text-decoration: none;
  height: 510px;
}

.power {
  background-color: #dc143c;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  height: 125px;
  width: 125px;
  text-decoration: none;
}

button{
  text-decoration: none;
}

.sim {
  background-color: #dc143c;
  margin: 5px;
  height: 125px;
  width: 125px;
}

.flight {
  background-color: #dc143c;
  margin: 5px;
  height: 125px;
  width: 125px;
}

.calibrate {
  background-color: #ff8c00;
  margin-bottom: 10px;
  height: 125px;
  width: 125px;
}

.clicked {
  background-color: #00D722;
}

.main-home-content{
  background-color: #96CEB4;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  /* padding: 5px; */
  padding-right: 230px;
}

.cmdgraph{
  background-color: #96CEB4;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 10px;
  padding-right: 10px;
  padding-left: 150px;
}

.cmd{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: #D9D9D9;
  height: 250px;
  width: 500px;
}

.cmd-image{
  width: 420px;
  height: 200px;
  border-radius: 10px;
}

.cmd h2{
  margin: 0px;
  padding: 0px;
}

.graph{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 10px;
  background-color: #D9D9D9;
  margin-top: 10px;
  height: 250px;
  width: 500px;
}

#graph-image{
  width: 300px;
  height: 230px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
}

.model-3d{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #D9D9D9;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 5px;
  width:300px;
  height: 520px;
}

.model-image{
  width: 200px;
  height: 300px;
  border-radius: 10px;
}

.model-3d h2{
  margin: 0px;
  padding: 0px;
}

.model-3d h3{
  margin: 0px;
  padding: 0px;
}

.parameters{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
  margin-top: 10px;
  padding: 5px;
  background-color: #D9D9D9 ;
  width: 220px;
  height: 505px;
  border-radius: 10px;
  position: fixed;
  right: 0px;
}

.parameter{
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  background-color: #D9D9D9;
}

.parameter-name{
  align-items: center;
  margin: 0px;
  padding: 0px;
  font-size: 16px;
}

.parameter-value{
  text-align: center;
  align-items: center;
  background-color: #96CEB4;
  margin: 0px;
  padding: 0px;
  font-size: 20px;
}

.graphphoto{
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-right: 50px;
  padding: 5px;
}

.graphs{
  width: 66%;
  display: grid;
  flex-direction: row;
  grid-template-columns: repeat(2, 1fr);  
  justify-content: center;
  background-color: #311cb6;
  margin-right: 80px;
  margin-top: 10px;
  margin-bottom: 20px;
  gap: 30px;
  padding: 10px;
}

canvas {
  width: 100% !important; /* Make canvas responsive */
  height: 300px !important; /* Set a fixed height */
}

.maps{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-right:80px;
  width:850px;
}

.mapphoto {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 1100px;
  height: 550px;
}

#csvRoot {
  margin-left: 300px;
  margin-top: 100px;
}
/* Middle Content Styles ends here */


/* Footer Content Styles Start here */
.lower {
  width: 100%;
  display: flex;
  position: fixed;
  bottom: 0px;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #96ceb4;
  border-radius: 10px;
}

.navigation-box{
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: 5px;
  padding: 5px;
  background-color: aliceblue;
  border-radius: 10px;
  width: 150px;
}

.button-box{
  display: flex;
  flex-direction: row;
  align-items: start;
  margin: 5px;
  color: aliceblue;
}

.button-box button{
  padding: 5px;
  height: 30px;
  width: 90px;
  background-color: aliceblue;
  color: black;
  border-radius: 10px;
}

.button-box img{
  width: 30px;
  height: 30px;
  padding-right: 10px;
}

.infographics{
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  margin: 5px;
  padding: 5px;
  background-color: #D9D9D9;
  border-radius: 10px;
}

.deployment-status{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-evenly;
  background-color: #D9D9D9;
  border-radius: 10px;
}

.deployment-status h2{
  margin: 0px;
  padding: 0px;
}

.deployment-status p{
  margin: 0px;
  padding: 0px;
}

.horizontal-line {
  width: 100%; /* Full width */
  height: 2px; /* Thickness */
  background-color: black; /* Line color */
  margin: 10px 0;
}

.flight-software{
  display:flex;
  flex-direction: column;
  align-items: center;
  margin: 2px;
  background-color: #D9D9D9;
  border-radius: 10px;
}

.flight-software h2{
  margin: 0px;
  padding: 0px;
}

.flight-software-all-states{
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #001687;
  border-radius: 10px;
}

.flight-software-state{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #39A79A;
  font-size: 14px;
  color: white;
  margin: 5px;
  width: 85px;
  height: 85px;
  border-radius: 10px;
}

#current-state{
  background-color: #79EBDE;
}

.time{
  display:flex;
  flex-direction: row;
  align-items: center;
  background-color: #D9D9D9;
  margin: 15px;
  border-radius: 10px;
  padding: 10px;
}

.mission-time{
  display:flex;
  flex-direction: column;
  align-items: center;
  background-color: #96ceb4;
  margin-right: 10px;
  border-radius: 10px;
  padding: 5px;
 
}

.packet-count{
  display:flex;
  flex-direction: column;
  align-items: center;
  background-color: #96ceb4;
  border-radius: 10px;
  padding: 5px;
}
/* Footer Content Styles ends here */


