/* Header Content Styles Start Here */
body {
  background-color: #96ceb4;
  font-family: Arial, sans-serif;
  margin: 5px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #96ceb4;
}

.logo {
  width: auto;
  height: 50px;
  margin: 10px;
  border-radius: 10px;
}

.arya {
  width: 550px;
  border-radius: 10px;
  height: 50px;
  margin: 10px;
  background-color: aliceblue;
  align-items: center;
  justify-content: center;
  text-align: center;
  align-content: center;
  font-weight: 800;
  letter-spacing: 0.025em;
  font-size: 2.25rem; 
line-height: 2.5rem;
}

.pause img {
  height: 50px;
  width: auto;
  background-color:aliceblue;
}

.restart img {
  height: 50px;
  width: 40px;
  background-color:aliceblue;
  padding: 5px;
}

.teamid {
  display: flex;
  width: 250px;
  border-radius: 10px;
  height: 50px;
  margin: 10px;
  background-color: aliceblue;
  justify-items: center;
  text-align: center;
  align-content: center;
  font-weight: 800;
  letter-spacing: 0.025em;
  font-size: 1.25rem; 
  line-height: 1.75rem;
  position: relative; 
}

.teamid h2 {
  justify-items: center;
  text-align: center;
  align-content: center;
  align-items: center;
  justify-self: center;
  justify-content: space-evenly;
}

.flag {
  width: 15%;
  height: 30px;
  margin: 10px;
}

/* Header Content Styles End here */

/* Middle Content Styles Start here */
.middle {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  background-color: #96CEB4;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  background-color: aliceblue;
  border-radius: 10px;
}

.power {
  background-color: #32cd32;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  height: 100px;
  width: 100px;
}

.sim {
  background-color: #dc143c;
  margin: 5px;
  height: 100px;
  width: 100px;
}

.flight {
  background-color: #dc143c;
  margin: 5px;
  height: 100px;
  width: 100px;
}
.calibrate {
  background-color: #ff8c00;
  margin-bottom: 10px;
  height: 100px;
  width: 100px;
}

.main-home-content{
  background-color: #96ceb4;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  padding: 10px;
}

.cmd{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: #D9D9D9;
}

.cmd-image{
  width: 450px;
  border-radius: 10px;
  padding: 10px;
  flex-grow: 10;
}
.cmd h2{
  margin: 0px;
  padding: 0px;
  flex-grow: 2;
}

.graph{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 10px;
  background-color: #D9D9D9;
  padding-bottom: 5px;
  padding-top: 5px;
}

.graph-image{
  width: 300px;
  height: 300px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
}

.model-3d{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #D9D9D9;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.model-image{
  width: 250px;
  height: 350px;
  border-radius: 10px;
}

.model-3d h2{
  margin: 0px;
  padding: 0px;
}

.model-3d h3{
  margin: 0px;
  padding: 0px;
}

.parameters{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  margin: 5px;
  padding: 5px;
  background-color: #D9D9D9 ;
  width: 200px;
  border-radius: 10px;
}

.parameter{
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  background-color: #D9D9D9;
}

.parameter-name{
  align-items: center;
  margin: 0px;
  padding: 0px;
  font-size: 15px;
}

.parameter-value{
  text-align: center;
  align-items: center;
  background-color: #96CEB4;
  margin: 0px;
  padding: 0px;
  font-size: 14px;
}

.graphphoto{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.graphs img {
  width: calc(33.33% - 10px); 
  margin: 5px;
  height: auto;
  margin-left: 140px;
}

.mapphoto {
  max-width: 150%;
  max-height: 100%;
  margin-left: 140px;
}

.csvphoto {
  max-width: 90%;
  max-height: 100%;
  margin-left: 140px;
}
/* Middle Content Styles ends here */


/* Footer Content Styles Start here */
.lower {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #96ceb4;
  border-radius: 10px;
}

.navigation-box{
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: 5px;
  padding: 5px;
  background-color: aliceblue;
  border-radius: 10px;
}

.button-box{
  display: flex;
  flex-direction: row;
  align-items: start;
  margin: 5px;
  color: aliceblue;
}

.button-box button{
  padding: 5px;
  height: 30px;
  width: 90px;
  background-color: aliceblue;
  color: black;
  border-radius: 10px;
}

.button-box img{
  width: 30px;
  height: 30px;
}

.infographics{
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  margin: 5px;
  padding: 5px;
  background-color: #D9D9D9;
  border-radius: 10px;
}

.deployment-status{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-evenly;
  background-color: #96ceb4;
  border-radius: 10px;
}

.deployment-status h2{
  margin: 0px;
  padding: 0px;
}

.deployment-status p{
  margin: 0px;
  padding: 0px;
}

.flight-software{
  display:flex;
  flex-direction: column;
  align-items: center;
  margin: 2px;
  background-color: #96ceb4;
  border-radius: 10px;
}

.flight-software h2{
  margin: 0px;
  padding: 0px;
}

.flight-software-all-states{
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgb(50, 26, 146);
  padding: 5px;
  border-radius: 5px;
}

.flight-software-state{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: rgb(26, 146, 140);
  margin: 5px;
  width: 90px;
  height: 90px;
  border-radius: 10px;
}

.time{
  display:flex;
  flex-direction: row;
  align-items: center;
  background-color: rgb(26, 146, 46);
  margin: 5px;
  border-radius: 10px;
}

.mission-time{
  display:flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(13, 213, 216);
  margin: 5px;
  border-radius: 10px;
}

.packet-count{
  display:flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(13, 213, 216);
  margin: 5px;
  border-radius: 10px;
}
/* Footer Content Styles ends here */