 /* Header Content Styles Start Here
 #96ceb4 */
body {
  background-color: #a9cfbe;
  font-family: Arial, sans-serif;
  margin: 5px;
  margin-top: 0px;
}

.header {
  z-index: 1001;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #a9cfbe;
  width: 100%;
  position: fixed;
  margin: 0%;
  padding: 0%;
}

.logo {
  width: auto;
  height: 60px;
  margin: 0.5%;
  border-radius: 10px;
  margin-left: 2%;
}

.arya {
  display: flex;
  width: 50%;
  border-radius: 10px;
  height: 50px;
  margin: 1%;
  background-color: aliceblue;
  align-items: center;
  justify-content: center;
  text-align: center;
  align-content: center;
  font-weight: 800;
  letter-spacing: 0.025em;
  font-size: 2.25rem;
  line-height: 2.5rem;
}


.change {
display:flex;
flex-direction: row;
}


#playpauseButton  {
  height: 50px;
  width: 90px;
  background-color:#a9cfbe;
  margin-left: 30%;
  border-radius: 10px;
}

#restartButton {
  height: 50px;
  width: 50px;
  background-color:#a9cfbe;
  border-radius: 10px;
}

.teamid {
  display: flex;
  width: 25%;
  border-radius: 10px;
  height: 50px;
  margin: 1%;
  background-color: aliceblue;
  justify-items: center;
  text-align: center;
  align-content: center;
  font-weight: 800;
  letter-spacing: 0.025em;
  font-size: 1.25rem;
}

.teamid h2 {
  align-self: center;
}

.flag {
  width: auto;
  height: 30px;
  margin: 10px;
  border-radius: 3px;
}

/* Header Content Styles End here */

/* Middle Content Styles Start here */
.middle {
  margin-top: 6%;
  margin-left: 5%;
  /* margin-right: 5%; */
  align-items: center;
  justify-content: space-between;
  background-color: #d0da12;
  width: 100%;
  position: relative;
}

.button-container {
  z-index: 1001;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 1%;
  background-color: aliceblue;
  border-radius: 10px;
  position: fixed;
  left: 0px;
  margin-top: 1%;
  text-decoration: none;
  height: 62%;
  width: 10%;
}

.power {
  background-color: #dc143c;
  margin: 4%;
  height: 25%;
  width: 90%;
  text-decoration: none;
  border-radius: 10px;
}

button {
  text-decoration: none;
}

.sim {
  background-color: #dc143c;
  margin: 4%;
  height: 25%;
  width: 90%;
  text-decoration: none;
  border-radius: 10px;
}

.flight {
  background-color: #dc143c;
  margin: 4%;
  height: 25%;
  width: 90%;
  text-decoration: none;
  border-radius: 10px;
}

.calibrate {
  background-color: #dc143c;
  margin: 4%;
  height: 25%;
  width: 90%;
  text-decoration: none;
  border-radius: 10px;
}

.clicked {
  background-color: #00D722;
}

.main-home-content {
  background-color: #a9cfbe;
  border-radius: 1%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 75%;
}
.main-home-content, .middle-graphs, .maps, #csvRoot {
  position: absolute;
}

/* Show the desired element */
.cmd-graph{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 5%;
  align-items: stretch;
  /* padding: 5px; */
  padding-right: 20%;
}

.cmdgraph {
  background-color: #96CEB4;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 2%;
  padding-right: 2%;
  padding-left: 10%;
  width: 38%;
}

.cmd {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: #D9D9D9;
  height: 46%;
  width: 120%;
}

.prompt {
  background-color: black;
  height:90%;
  width:90%;
  padding-top: 0.5%;
  margin-bottom: 3%;
  border-radius: 10px;
}
.prompt p{
  color: white;
}

.group {
  display: flex;
  flex-direction: row;
}

input#commandInput {
  width: 50%;
  padding: 3%;
  border-radius: 5px;
  border: 0.5px solid black;
  margin-bottom: 4%;
  background-color: black;
  color: white;
}

.output {
  width: 80%;
  min-height: 20%;
  padding: 1%;
  border-radius: 5px;
  background-color: #5654540a;
  border: 1px solid black;
  color: white;
}

.cmd-image {
  width: 42%;
  height: 2%;
  border-radius: 10px;
}

h2 {
  margin: 0px;
  padding: 0px;
}

.graph {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 10px;
  background-color: #D9D9D9;
  margin-top: 5%;
  height: 49%;
  width: 120%;
}

#graph-image {
  width: 60%;
  height: 85%;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.model-3d {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #D9D9D9;
  border-radius: 10px;
  padding-left: 1%;
  padding-right: 1%;
  margin: 2%;
  margin-left: 7%;
  width: 40%;
  height: 500px;
}

.model-image {
  width: 200px;
  height: 300px;
  border-radius: 10px;
}

.model-3d h2 {
  margin: 0px;
  padding: 0px;
}

.model-3d h3 {
  margin: 0px;
  padding: 0px;
}

.parameters {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1%;
  padding: 1%;
  padding-top: 0%;
  background-color: #D9D9D9;
  width: 17%;
  height: 67%;
  border-radius: 10px;
  position: fixed;
  right: 0px;
  z-index: 1;
  margin-top: 0%;
}

.parameter {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  background-color: #D9D9D9;
}

.parameter-name {
  align-items: center;
  margin: 0px;
  padding: 0px;
  font-size: 16px;
  font-weight: bold;
  font-family: "Quicksand", sans-serif;
}

.parameter-value {
  text-align: center;
  align-items: center;
  background-color: #a9cfbe;
  margin:0px;
  margin-bottom: 1%;
  padding: 0px;
  font-size: 20px;
}

.graphphoto {
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-right: 10%;
  padding: 1%;
}

.middle-graphs {
  margin-left: 7%;
  width: 65%;
  display: grid;
  flex-direction: row;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  background-color: #a9cfbe;
  margin-right: 8%;
  margin-top: 1%;
  padding-bottom: 25%;
  gap: 5%;
  font-size: 70%;
}


canvas {
  width: 100% !important;
  /* Make canvas responsive */
  height: 300px !important;
  /* Set a fixed height */
}

.maps {
  margin-left: 10%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-right: 8%;
  width: 67%;
  height: 80;
}

.mapphoto {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;

}

#csvRoot {
  position: absolute;
  margin-left: 7%;
  /* margin-top: 100px; */
  margin-bottom: 300%;
  z-index: 1000;
  width: 400px;
}

table {
  border-collapse: collapse;
  border-radius: 5px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  font-size: 55%;
  width: 60%;
}

th {
  background: #009578;
  color: #ffffff;
  text-align: left;
}

th,
td {
  padding: 10px 1px;
}

td{
  background-color: #ffffff;
}

tr:nth-child(even) {
  background: #eeeeee;
}

.hidden {
  visibility: hidden;
}

.visible {
  visibility: visible;
}
/* Middle Content Styles ends here */


/* Footer Content Styles Start here */
.lower {
  z-index: 1001;
  width: 100%;
  display: flex;
  position: fixed;
  bottom: 0%;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #a9cfbe;
  border-radius: 10px;
  height: 25%;
}

.navigation-box {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: 1%;
  margin-bottom: 1%;
  padding: 0.8%;
  background-color: aliceblue;
  border-radius: 10px;
  width: 12%;
}

.button-box {
  display: flex;
  flex-direction: row;
  align-items: start;
  margin: 1%;
  color: aliceblue;
}

.button-box button {
  padding: 4%;
  height: 20%;
  width: 90px;
  background-color: aliceblue;
  color: black;
  border-radius: 10px;
}

.button-box img {
  width: 25%;
  height: 25%;
  padding-right: 8%;
}

.infographics {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  margin: 0.5%;
  padding: 0.5%;
  background-color: #D9D9D9;
  border-radius: 10px;
  margin-bottom: 0px;
}

.deployment-status {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  background-color: #D9D9D9;
  border-radius: 10px;
}

.deployment-status h2 {
  margin: 0px;
  padding: 0px;
}

.deployment-status p {
  margin: 0px;
  padding: 0px;
}

.horizontal-line {
  width: 100%;
  /* Full width */
  height: 2px;
  /* Thickness */
  background-color: black;
  /* Line color */
  margin: 0.5% 0;
}

.flight-software {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1%;
  background-color: #D9D9D9;
  border-radius: 10px;
}

.flight-software h2 {
  margin: 0px;
  padding: 0px;
}

.flight-software-all-states {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #001687;
  border-radius: 10px;
}

.flight-software-state {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #39A79A;
  font-size: 14px;
  color: white;
  margin: 5px;
  width: 20%;
  height: 70px;
  border-radius: 10px;
}

#current-state {
  background-color: #79EBDE;
}

.time {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #D9D9D9;
  margin: 1%;
  border-radius: 10px;
  padding: 1%;
  justify-content: center;
}

.mission-time {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #a9cfbe;
  margin-right: 3%;
  border-radius: 10px;
  padding: 0.5%;
  margin: 0.5%;

}

.packet-count {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #a9cfbe;
  border-radius: 10px;
  padding: 0.5%;
  margin: 0.5%;
  margin-left: 3%;
}

/* const current_time = []; 
let index1 = 0;
let timer; // Timer variable
let isPaused = false; // Flag to track pause state

function display_ct() {
const powerButton = document.getElementById('power_button');
const missionTime = document.getElementById('mission-time');
powerButton.addEventListener('click', () => {
    if (missionTime.style.display === 'none') {
      if (index1 < current_time.length && !isPaused) {
        console.log(current_time[index1]);
        document.getElementById('mission-time').innerHTML = current_time[index1];
        index1++;
        }
    missionTime.style.display = 'block';
    } else {
      missionTime.style.display = 'none';
    }
  });
    
}

const packet_count = []; 
let index2 = 0;

function display_pc() {
const powerButton = document.getElementById('power_button');
const packetCount = document.getElementById('packet_count');
powerButton.addEventListener('click', () => {
    if (packetCount.style.display === 'none') {
        if (index2 < packet_count.length && !isPaused) {
            console.log(packet_count[index2]);
            document.getElementById('packet-count').innerHTML = packet_count[index2];
            index2++;
        }
    packetCount.style.display = 'block';
    } else {
        packetCount.style.display = 'none';
    }
  });
} */