/* Global Styles */
body {
    background-color: #96CEB4;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }

.header {
    display: inline-block;
    display: flex;
}

  .logo {
    width: 50px;
    height: auto;
    margin: 10px;
    border-radius: 10px;
  }

  .arya {
    width: 500px;
    margin: auto;
    border-radius: 10px;
    height: 50px;
    background-color: aliceblue;
    align-items: center;
    justify-content: center;
  }

  .teamid {
    width: 200px;
    margin: auto;
    border-radius: 10px;
    height: 50px;
    background-color: aliceblue;
    align-items: center;
    justify-content: center;
  }

.button-container {
    flex-direction: column;
    align-items: center;
    margin-left: 0px;
    margin-left: 0px;
    height: 40px;
    width: 40px;
    border-radius: 10px;
    margin-top: 20px;
}
  
.power { 
    background-color: #32cd32; 
    margin: 10px;
}
.sim { 
    background-color: #dc143c; 
    margin: 10px;
}
.flight { 
    background-color: #dc143c; 
    margin: 10px;
}
.calibrate { 
    background-color: #ff8c00;
    margin: 10px; 
}
